.video-container {
    position: relative;
  }
  
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .iconoBotonBandera {
    font-size: 500px;
    align-items: center;
    vertical-align: middle;
  }
  
  .primeraFila {
    margin-top:4%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }
  
  
  
  .filas {
    margin-top:3%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }
  
  .botonBandera {
    // height: 10px !important;
    // width: auto;
    min-height: 30vh;
    width: 30vh;
    align-items: center;
    vertical-align: middle;
    border-style: none;
  }
  
    @media screen and (orientation:portrait) 
    { 
  
      video {
        vertical-align: middle;
        height:100%;
        width: auto;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translate(-34%, 0%);
        background-image: url('../../../assets/img/svg/animales1.svg') !important;
      }
  
  
    }
    @media screen and (orientation:landscape) {

      video {
        vertical-align: middle;
        width: 100%;
        height: auto;
        position: absolute;
        align-items: center;
        justify-content: center;
      }
  
    }